@keyframes changeFieldWidth {
  from {
    width: 0;
  }

  to {
    width: calc(100% - 21rem);
  }
}

@keyframes circleAppear {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }

  40% {
    opacity: 0.8;
    width: 60%;
    height: 60%;
  }

  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shiftRight {
  from {
    transform: translateX(-40px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes shiftUp {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes rulesBullet {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rulesText {
  0% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rulesLink {
  0% {
    width: 0;
    left: 100%;
    border: 0;
  }

  100% {
    width: 100%;
    left: 50%;
    border: 2px;
  }
}
